@import url("/assets/shared.css");

/* Admin Area Layout */

body.admin {
  display: flex;
  min-height: 100vh;
  --width-header-width: 200px;
  --logo-width-desktop: calc(0.68 * 200px);
  --logo-height-desktop: calc(0.475 * 200px);
}

body.admin header {
  width: var(--width-header-width);
  margin: 0;
  flex-shrink: 0;
}
body.admin header .navbar {
  margin-top: 0;
}

body.admin main {
  flex-grow: 1;
}

body.admin .navbar-brand {
  max-width: 100%;
}

/* Header */

body.admin header,
body.admin header .nav-item
 {
  background: var(--color-dark-blue);
  color: white;
}

body.admin header a.navbar-brand {
  width: var(--logo-width-desktop);
  height: var(--logo-height-desktop);
  margin: 0.5rem auto 1rem;
  transition: ease-in-out 0.3s all;
}

body.admin header a.navbar-brand:hover {
  transform: scale(1.1);
}

body.admin header .nav li {
  width: 100%;
}

body.admin header .nav li a.active {
  background-color: rgba(0, 0, 0, 0.2);
}

body.admin header .nav li a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

body.admin header .nav li a {
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1.6px;
  line-height: 24px;
  padding: 0.25rem 1rem;
}

body.admin header .nav li hr {
  margin: 6px 1rem;
  border-color: white;
  max-width: 100%;
}

body.admin header nav .user-item img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 0.5rem;
  border: 2px solid var(--color-dark-blue);
}
body.admin header nav .user-item a {
  text-transform: none;
}

body.admin header .nav li.back-to-website a {
  font-size: 12px;
  transition: ease-in-out 0.2s all;
}

body.admin header .nav li.back-to-website a svg {
  vertical-align: baseline;
  transition: ease-in-out 0.2s all;
}

body.admin header .nav li.back-to-website a:hover {
  letter-spacing: 0.2rem;
}

body.admin header .nav li.back-to-website a:hover svg {
  margin-right: 0.2rem;
}

/* Admin Main Area */

body.admin main {
  font-weight: 300;
}

body.admin main a {
  color: var(--color-dark-blue);
  text-decoration: underline;
}

/* Admin Box */

.admin-box {
  border: 1px solid #dddddd;
  margin-bottom: 2rem;
  border-radius: 2px;
  overflow: hidden;
}
.admin-box .admin-box-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffc107;
  color: var(--color-black);
  max-width: 100%;
  padding: 0.56rem 0.8124rem;
}

.admin-box .admin-box-title-toolbar-items {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.admin-box .admin-box-title-toolbar-items > * {
  margin-left: 0.5rem;
}

.admin-box .admin-box-content {
  padding: 0.5rem;
}

.admin-box#admin-box-upcoming-workshops ul {
  margin-bottom: 1rem;
}

.admin-box#admin-box-upcoming-workshops ul li {
  transition: 0.3s ease-in-out all;
  max-height: 100vh;
  overflow: hidden;
}

.admin-box#admin-box-upcoming-workshops ul li.hide-Class {
  max-height: 0;
}

.admin-box#admin-box-upcoming-workshops ul li div.zoomlink {
  display: block;
  text-indent: 1rem;
}

.admin-box#admin-box-teachers .teachers_listings-teacher {
  min-width: 150px;
  margin-bottom: 1rem;
}

.admin-box#admin-box-teachers .teacher-image {
  width: 112px;
  height: 112px;
  min-width: 112px;
  min-height: 112px;
  margin: 0 auto 1rem;
  display: block;
}

.admin-box#admin-box-teachers .teacher-name {
  text-align: center;
}

/* Listings, such as for Workshops */

#admin-table-listings {
}

#admin-table-listings thead {
  font-size: 0.875rem;
}

#admin-table-listings tbody {
  font-size: 0.7575rem;
}

#admin-table-listings tbody a {
  display: block;
}

#admin-table-listings tbody a:hover {
  text-decoration: none;
}

#admin-table-listings tbody .workshop-title {
  font-weight: bold;
}
