@import url("https://fonts.googleapis.com/css2?family=Alata&family=Epilogue:ital,wght@0,100;0,170;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* Site Elemental Colors and Styles */

:root {
  --color-long-form-improv: #1498ee;
  --color-character: #00b986;
  --color-sketch: #f17a5e;
  --color-dark-blue: #111d5e;
  --color-yellow: #ffd162;
  --color-black: #212529;
  --color-dark-gray: #4a4a4a;
  --color-light-gray: #f8f9fa;
  --color-faint-blue: #f4f8fa;
  --font-header-font: "Alata";
  --font-content-font: "Epilogue";
  --font-body-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: var(--font-header-font), sans-serif;
}
body {
  font-family: var(--font-content-font), sans-serif;
  color: var(--color-black);
  background: white;
  font-weight: 400;
  font-size: var(--font-body-size);
}

.color-long-form-improv {
  color: var(--color-long-form-improv);
}
.color-character {
  color: var(--color-character);
}
.color-sketch {
  color: var(--color-sketch);
}

img {
  max-width: 100%;
  height: auto;
}

img.teacher-image {
  border-radius: 50%;
}

.btn-outline-primary {
  color: var(--color-dark-blue);
  border-color: var(--color-dark-blue);
}

.btn-outline-primary:hover {
  background-color: var(--color-dark-blue);
  border-color: var(--color-dark-blue);
}

main article p,
main article ul,
main article ol,
main article blockquote,
main article dl,
main article dt,
main article dd {
  line-height: 2.2rem;
  font-size: 1.15rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 960px;
  }
}

.navbar-brand {
  display: block;
  position: relative;
}

.navbar-brand span {
  background-image: url("/images/logo_white_blue_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: var(--logo-width-desktop);
  height: var(--logo-height-desktop);
  overflow: hidden;
  margin-bottom: -50%;
}
